<ion-header>
  <ion-toolbar>
        <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">New Password</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="">
            <ion-input
            formControlName="newpassword"
            maxlength="12"
            [type]="showNewPassword ? 'text' : 'password'" 
            required
          ></ion-input>
          </ion-col>
          <ion-col class="end">
            <ion-icon name="eye-off-outline" class="end" *ngIf="!showNewPassword" (click) = "revealNewPassword()"></ion-icon>
            <ion-icon name="eye-outline" class="end" *ngIf="showNewPassword" (click) = "revealNewPassword()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <span
      class="error ion-padding size"
      *ngIf="isSubmitted && errorControl.newpassword.errors?.required"
    >
      Password is required.
    </span>
    <span
    class="error ion-padding size"
    *ngIf="isSubmitted && errorControl.newpassword.errors?.minlength"
  >
    Mininum Lenght of Password is {{errorControl.newpassword.errors?.minlength.requiredLength}}
  </span>
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-start">
            <ion-input
            maxlength="12"
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'" 
            required
          ></ion-input>
          </ion-col>
          <ion-col class="end">
            <ion-icon name="eye-off-outline" class="end" *ngIf="!showConfirmPassword" (click) = "revealConfirmPassword()"></ion-icon>
            <ion-icon name="eye-outline" class="end" *ngIf="showConfirmPassword" (click) = "revealConfirmPassword()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <span
      class="error ion-padding size"
      *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required"
    >
      Password is required.
    </span>
    <span
      class="error ion-padding size"
      *ngIf="isSubmitted && (errorControl.confirmPassword.value != errorControl.newpassword.value)"
    >
      Password doesn't Match
    </span>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" 
          >Update Password</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>


