<ion-refresher
  slot="fixed"
  (ionRefresh)="getDailyRates($event)"
  pullMin="100"
  pullMax="200"
>
  <ion-refresher-content
    pullingIcon="arrow-down-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="crescent"
    refreshingText="Refreshing..."
  >
  </ion-refresher-content>
</ion-refresher>

<div [hidden]="!userService.isVisibleForCustomers()">
  <ion-card>
    <ion-item class="">
      <ion-label class="title ">Wholesale Rate Live</ion-label>
      <ion-label class=" ion-text-center big-font" >₹ {{orders.liveRate}}</ion-label>
    </ion-item>
    <ion-item class="">
      <ion-label class="title ">Normal Chicken</ion-label>
      <ion-label class=" ion-text-center big-font"
        >₹ {{orders.withSkinRate}}</ion-label
      >
    </ion-item>
    <ion-item class="">
      <ion-label class="title ">Skinless Chicken</ion-label>
      <ion-label class=" ion-text-center big-font"
        >₹ {{orders.skinlessRate}}</ion-label
      >
    </ion-item>
    <ion-item class="">
      <ion-label class="title ">Cut Off Time</ion-label>
      <ion-label class=" ion-text-center big-font">{{cutoffTimeToShownToCustomer | date:'h:mm a'}}</ion-label>
    </ion-item>
  </ion-card>
</div>

<div
  style="margin: 0.5rem"
  class="x"
  [hidden]="userService.isVisibleForCustomers()"
>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating">Wholesale Rate</ion-label>
      <ion-input formControlName="wholesaleRate" type="number"></ion-input>
    </ion-item>
    <!-- <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.wholesaleRate.errors?.required">
      wholesaleRate is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.name.errors?.minlength">
      Name should be min 2 chars long.
    </span> -->
    <ion-item>
      <ion-label position="floating">Normal Chicken</ion-label>
      <ion-input formControlName="normalChicken" type="number"></ion-input>
    </ion-item>
    <!-- <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span> -->

    <ion-item>
      <ion-label position="floating">Skin Less Chicken</ion-label>
      <ion-input formControlName="skinlessChicken" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cut Off Time</ion-label>
      <ion-input formControlName="cutOffTime" type="time" step="2"></ion-input>
    </ion-item>
    <!-- <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.mobile.errors?.required">
      Mobile number is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmittedIonicForm && errorControl.mobile.errors?.pattern">
      Only numerical values allowed.
    </span> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Update</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <!-- <ion-toolbar class="ion-text-center">
    <ion-title size="large" color="dark">Add Cages For Customers</ion-title>
  </ion-toolbar> -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center font">
            Add Cages For Customers
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  
  <form
    [formGroup]="addCagesForCustomer"
    (ngSubmit)="submitFormaddCages()"
    novalidate
  >
    <ion-item>
      <ion-label>Select Customer</ion-label>
      <ionic-selectable
        item-content
        formControlName="username"
        itemValueField="userId"
        itemTextField="userName"
        [items]="userNames"
        [hasVirtualScroll]="true"
        [canSearch]="true"
        (onChange)="customerChange($event)"
      >
      </ionic-selectable>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button id="open-modal" expand="block" color="danger" [disabled]="currentSelectedUser==null"
          >Update Cages</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Order Cages</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Number of Cages</ion-label>
            <ion-input
              type="number"
              placeholder="Cages"
              [(ngModel)]="noOfCages"
              clearInput="true"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</div>
