

  <ion-card>
    <ion-item>
      <ion-img src="../../assets/icon/chicken.png" class="size"></ion-img>
      <ion-label slot="end" class="title">Skin Less Chicken</ion-label>
    </ion-item>

    <ion-card-content class="ion-text-center">
      ₹ {{orders.liverate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="cash-outline" class="size"></ion-icon>
      <ion-label slot="end" class="title">Skin Less Chicken</ion-label>
    </ion-item>

    <ion-card-content class="ion-text-center">
      ₹ {{orders.liverate}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="../../assets/icon/chicken.png" class="size"></ion-img>
      <ion-label slot="end" class="title">Skin Less Chicken</ion-label>
    </ion-item>

    <ion-card-content class="ion-text-center">
      ₹ {{orders.liverate}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="../../assets/icon/chicken.png" class="size"></ion-img>
      <ion-label slot="end" class="title">Skin Less Chicken</ion-label>
    </ion-item>

    <ion-card-content class="ion-text-center">
      ₹ {{orders.liverate}}
    </ion-card-content>
  </ion-card>
