.size{
    height: 50px;
}

.title{
    font-family:Nunito !important;
    font-size:1em;
    color: red;
    font-weight: bolder;
}

ion-card-content{
    font-family:Nunito !important;
    font-size:1.3em;
    color: black;
    font-weight:bolder;
}
.x {
 font-family:Nunito !important;
    font-size:1.3em;
    color: black;
    font-weight:bolder;
}
ion-item{
    margin: 0.3rem;
}