<ion-refresher slot="fixed" (ionRefresh)="getOrdersData($event)" pullMin="100" pullMax="200">
  <ion-refresher-content 
    pullingIcon="arrow-down-outline" 
    pullingText="Pull to refresh" 
    refreshingSpinner="crescent"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col> 
      <ion-col> </ion-col> 
      <ion-col style="text-align-last: right;"> <ion-badge  color="danger" class="font">{{today | date:'fullDate'}}</ion-badge></ion-col>
    </ion-row>
  <ion-row>
    <ion-col> </ion-col> 
    <ion-col>   <ion-img src="../../assets/icon/chicken-order.png" class="bounce ion-text-center" > </ion-img>
    </ion-col> 
    <ion-col> </ion-col> 
  </ion-row>
  <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <ion-input
          class="ion-text-center"
          type="number"
          [(ngModel)]="orders"
          autofocus="true"
          style="background-color: azure; border-radius: 20px"
        ></ion-input>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  (click)="presentAlert()" type="submit"  class="ion-margin-top" color="danger"  [attr.disabled]="isDisableButton?true:null"
          >{{submittButtonTxt}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col *ngIf="isDisableButton" class="ion-text-center">
<ion-chip>
  <ion-icon name="alert-sharp" color="danger"></ion-icon>
  <ion-label><b>You Can't Order Beyond {{cutOffTime}}</b></ion-label>
</ion-chip>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="ion-margin" style="padding-bottom: 3rem;">
    <ion-row >
      <ion-col>
        <ion-item button="true" id="open-date-input">
          <ion-label>Date</ion-label>
          <ion-text slot="end">{{ date }}</ion-text>
          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime #popoverDatetime presentation="date" presentation="date" [max]="datePipe.transform(this.today, 'yyyy-MM-dd')" [min]="getLastWeeksDate()"
              displayFormat="DD.MM.YYYY"
                (ionChange)="date = datePipe.transform((popoverDatetime.value), 'yyyy-MM-dd'); popoverDatetime.confirm(true);getAllUsersDataByDate(date)"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <input clearInput="true" class="form-input" type="text" id="globalSearch" (input)="onChange($event)" placeholder="Search" />
      </ion-col>
      <ion-col>
        <ion-chip color="dark">
        Cages : {{totalNoOfCages}}
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ngx-table #table  [data]="data$ | async" [configuration]="configuration" [columns]="columns" >
        </ngx-table>
      </ion-col>
    </ion-row>
  </ion-grid>
