<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col> 
      <ion-col> </ion-col> 
      <ion-col style="text-align-last: right;"> <ion-badge  color="danger" class="font">{{today | date:'fullDate'}}</ion-badge></ion-col>
    </ion-row>
  </ion-grid>
  <ion-img src="../../assets/icon/chicken-order.png" class="bounce"> </ion-img>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <ion-input
          class="ion-text-center"
          type="number"
          [(ngModel)]="orders"
          autofocus="true"
          style="background-color: azure; border-radius: 20px"
        ></ion-input>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  (click)="presentAlert()" type="submit" color="danger" class="ion-margin-top"
          >Order Now !! </ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
