<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="margin-btm">
        <ion-img src="../../assets/logo.png" ></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      
    <ion-item lines="full" style="margin-bottom: 5px;">
      <ion-label position="floating">User Id</ion-label>
      <ion-input
        formControlName="userid"
        type="number"
        maxlength="13"
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.userid.errors?.required"
    >
      User Id is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.userid.errors?.pattern"
    >
      User Id is of Length 12
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Password </ion-label>
      <ion-input
        maxlength="10"
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.password.errors?.required"
    >
      Password is required.
    </span>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button type="submit" color="danger" expand="block" class="ion-margin-top"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorText!=''">
      <ion-col class="ion-text-center" >
        <ion-badge color="medium"class="ion-text-center"> {{errorText}} </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>
