<ion-header  [translucent]="true">
<ion-toolbar>
  <app-header [update]="updateContent"></app-header>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollY]="true" [forceOverscroll]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" pullMin="150" pullMax="200">
    <ion-refresher-content  pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
      <ion-row>
       <ion-col class="ion-text-center font">
           Daily Rates
       </ion-col>
      </ion-row>
      </ion-grid>
     </ion-toolbar>
  </ion-header>
  <app-rates [update]="updateContent"></app-rates>
<div [hidden]="!userService.isVisibleForCustomers()">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center font">
              Daily Orders
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <app-order [update]="updateContent"></app-order>
</div>
</ion-content>
