<ion-header  [translucent]="true">
  <ion-toolbar>
    <app-header ></app-header>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" [scrollY]="true" [forceOverscroll]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
      <ion-row>
       <ion-col class="ion-text-center">
           Reports
       </ion-col>
      </ion-row>
      </ion-grid>
     </ion-toolbar>
  </ion-header>
  <ion-title class="ion-text-center ion-padding font">
    Reports
  </ion-title>
</ion-content>
