<ion-header  [translucent]="true">
  <ion-toolbar>
    <app-header ></app-header>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" [scrollY]="true" [forceOverscroll]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
      <ion-row>
       <ion-col class="ion-text-center font">
           Reports
       </ion-col>
      </ion-row>
      </ion-grid>
     </ion-toolbar>
  </ion-header>
  <ion-grid style="border-color: black">
    <ion-row>
      <ion-col>
   </ion-col>
   </ion-row>
   </ion-grid>
</ion-content>
