<ion-app>
  <div ngxUiLoaderBlurred [blur]="10">
    <!-- This page content will be blurred/frosted when foreground loader is showed -->
  </div>
  <ngx-ui-loader ></ngx-ui-loader>  
  <ng-template #foregroundSpinner>
    <div style="color: #f4696b" class="la-square-jelly-box la-2x">
      <div></div>
      <div></div>
  </div>  </ng-template>
  
  <ng-template #backgroundSpinner>
    <div style="color: #f4696b" class="la-square-jelly-box la-2x">
      <div></div>
      <div></div>
  </div>
  </ng-template>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
